In [41]:
import pandas as pd

In [42]:
data = pd.read_csv("morocco_ecommerce.csv",sep="|")
data.head(10)

,order_id,customer_id,order_date,ship_date,region,city,payment_method,product_category,product_id,quantity,unit_price,total_amount,discount_code,order_status
0,ORD000001,CUS00179,2023-03-14,2023-03-17,Casablanca-Settat,Casablanca,Credit Card,Electronics,P00778,3,438.40,1315.19,SALE20,Returned
1,ORD000002,CUS01548,2023-01-13,2023-01-15,Béni Mellal-Khénifra,Khénifra,Bank Transfer,Home & Kitchen,P00081,3,417.67,1253.02,FREESHIP,Shipped
2,ORD000003,CUS01309,2023-08-17,2023-08-22,Béni Mellal-Khénifra,Béni Mellal,Bank Transfer,Home & Kitchen,P00215,2,384.54,769.09,WELCOME,Returned
3,ORD000004,CUS00878,2023-09-06,2023-09-13,Oriental,Berkane,Bank Transfer,Sports,P00565,4,206.38,825.51,NaN,Returned
4,ORD000005,CUS00866,2023-10-09,2023-10-11,Béni Mellal-Khénifra,Khénifra,Credit Card,Fashion,P00923,1,426.41,426.41,NaN,Processing
5,ORD000006,CUS01717,2023-12-12,2023-12-20,Marrakech-Safi,Marrakech,Mobile Payment,Books,P00885,4,135.49,541.95,NaN,Delivered
6,ORD000007,CUS00172,2023-07-01,2023-07-08,Tanger-Tétouan-Al Hoceïma,Tétouan,Credit Card,Home & Kitchen,P00935,4,299.21,1196.82,AYD10,Processing
7,ORD000008,CUS01395,2023-10-29,2023-10-30,Souss-Massa,Agadir,Cash on Delivery,Sports,P00987,1,473.38,473.38,RAMADAN10,Processing
8,ORD000009,CUS00403,2023-09-18,2023-09-28,Dakhla-Oued Ed-Dahab,Dakhla,Bank Transfer,Books,P00800,4,578.45,2313.81,WELCOME,Cancelled
9,ORD000010,CUS00189,2023-04-11,2023-04-11,Béni Mellal-Khénifra,Khénifra,Cash on Delivery,Beauty,P00364,4,752.41,3009.65,SALE20,Delivered

In [43]:
 # Row with index 0
data.loc[0]

order_id                    ORD000001
customer_id                  CUS00179
order_date                 2023-03-14
ship_date                  2023-03-17
region              Casablanca-Settat
city                       Casablanca
payment_method            Credit Card
product_category          Electronics
product_id                     P00778
quantity                            3
unit_price                      438.4
total_amount                  1315.19
discount_code                  SALE20
order_status                 Returned
Name: 0, dtype: object

In [44]:
data.shape

(5000, 14)

In [45]:
data.columns

Index(['order_id', 'customer_id', 'order_date', 'ship_date', 'region', 'city',
       'payment_method', 'product_category', 'product_id', 'quantity',
       'unit_price', 'total_amount', 'discount_code', 'order_status'],
      dtype='object')

In [46]:
data.loc[:,data.columns[:3]]

       order_id customer_id  order_date
0     ORD000001    CUS00179  2023-03-14
1     ORD000002    CUS01548  2023-01-13
2     ORD000003    CUS01309  2023-08-17
3     ORD000004    CUS00878  2023-09-06
4     ORD000005    CUS00866  2023-10-09
...         ...         ...         ...
4995  ORD004996    CUS00424  2023-06-21
4996  ORD004997    CUS01493  2023-12-29
4997  ORD004998    CUS01639  2023-05-09
4998  ORD004999    CUS01357  2023-07-25
4999  ORD005000    CUS00997  2023-08-12

[5000 rows x 3 columns]

In [47]:
data.loc[:,["order_id","customer_id","order_date"]]

       order_id customer_id  order_date
0     ORD000001    CUS00179  2023-03-14
1     ORD000002    CUS01548  2023-01-13
2     ORD000003    CUS01309  2023-08-17
3     ORD000004    CUS00878  2023-09-06
4     ORD000005    CUS00866  2023-10-09
...         ...         ...         ...
4995  ORD004996    CUS00424  2023-06-21
4996  ORD004997    CUS01493  2023-12-29
4997  ORD004998    CUS01639  2023-05-09
4998  ORD004999    CUS01357  2023-07-25
4999  ORD005000    CUS00997  2023-08-12

[5000 rows x 3 columns]

In [ ]:
import pandas as pd
import numpy as np
 
# Charger le dataset

df = pd.read_csv("morocco_ecommerce.csv",sep="|")

# Nettoyer les noms de colonnes : enlever espaces et mettre en minuscules
df.columns = df.columns.str.strip().str.lower()
print("Colonnes du dataset :\n", df.columns.tolist())
 
# Dataset Structure & Basic Exploration

print("10 premières lignes :\n", df.head(10))
print("Forme du dataset (rows, columns) :\n", df.shape)
print("Types de données :\n", df.dtypes)
 
# Missing Values and  Data Quality

missing_counts = df.isna().sum() #fct isna().sum() refais 
print("Valeurs manquantes par colonne :\n", missing_counts)
max_missing = missing_counts.max()
print("Colonnes avec le plus de NaN :\n", missing_counts[missing_counts == max_missing])


# Remplir les NaN dans city et unit_price
if 'city' in df.columns:
    df['city'] = df['city'].fillna("Unknown")
if 'unit_price' in df.columns:
    df['unit_price'] = df['unit_price'].fillna(df['unit_price'].mean())

# Supprimer toutes les lignes avec NaN
df_no_na = df.dropna()
print("Nombre de lignes après suppression des NaN :\n", df_no_na.shape[0])

 
# Duplicates

print("Lignes dupliquées complètes :\n", df.duplicated().sum())
df = df.drop_duplicates()
print("Nombre de lignes après suppression des doublons :", df.shape[0])

if 'order_id' in df.columns:
    df = df.drop_duplicates(subset='order_id', keep='first')

# Filtering & Subsetting

if 'quantity' in df.columns:
    print("Commandes quantity > 3 :\n", df[df['quantity'] > 3])
if 'total_amount' in df.columns:
    print("Commandes total_amount > 1000 :\n", df[df['total_amount'] > 1000])
if 'region' in df.columns:
    print("Commandes Casablanca-Settat :\n", df[df['region'] == "Casablanca-Settat"])
if 'payment_method' in df.columns:
    print("Commandes non payées en Cash :\n", df[df['payment_method'] != "Cash"])

#  Descriptive Statistics

if 'total_amount' in df.columns:
    print("Stats total_amount :\n", df['total_amount'].agg(['mean', 'median', 'min', 'max']))

if 'region' in df.columns and 'total_amount' in df.columns:
    region_avg = df.groupby('region')['total_amount'].mean()
    print("Région avec le plus haut total_amount moyen :\n", region_avg.sort_values(ascending=False).head(1))

if 'product_id' in df.columns and 'total_amount' in df.columns:
    product_revenue = df.groupby('product_id')['total_amount'].sum()
    print("Produit avec le plus haut total revenue :\n", product_revenue.sort_values(ascending=False).head(1))

# String Cleaning

if 'city' in df.columns:
    df['city'] = df['city'].str.strip().str.title()
    df['city'] = df['city'].replace({'Casa': 'Casablanca', 'Cas': 'Casablanca'})

# Date & Time Features

if 'order_date' in df.columns:
    df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')
if 'ship_date' in df.columns:
    df['ship_date'] = pd.to_datetime(df['ship_date'], errors='coerce')

if 'order_date' in df.columns:
    df['year'] = df['order_date'].dt.year
    df['month'] = df['order_date'].dt.month
    df['weekday'] = df['order_date'].dt.day_name()

 # Commandes après le 2023-06-01
    orders_after_june = df[df['order_date'] > '2023-06-01']
    print("Commandes après 2023-06-01 :\n", orders_after_june)
 
 # Moyenne mensuelle du total_amount
    if 'total_amount' in df.columns:
        df.set_index('order_date', inplace=True)
        monthly_revenue = df['total_amount'].resample('ME').mean()  # 'ME' = month end, future-proof
        print("Moyenne mensuelle du total_amount :\n", monthly_revenue)

#  Outlier Detection

if 'total_amount' in df.columns:
    # Méthode IQR
    Q1 = df['total_amount'].quantile(0.25)
    Q3 = df['total_amount'].quantile(0.75)
    IQR = Q3 - Q1
    outliers_iqr = df[(df['total_amount'] < Q1 - 1.5*IQR) | (df['total_amount'] > Q3 + 1.5*IQR)]
    print("Outliers détectés par IQR :\n", outliers_iqr)

    # Méthode Z-score (sans SciPy)
    z_scores = (df['total_amount'] - df['total_amount'].mean()) / df['total_amount'].std()
    outliers_z = df[abs(z_scores) > 3]
    print("Outliers détectés par Z-score :\n", outliers_z)

    # 5 plus grandes commandes
    top5_orders = df.nlargest(5, 'total_amount')[['order_id', 'total_amount']]
    print("5 plus grandes commandes :\n", top5_orders)

Colonnes du dataset :
 ['order_id', 'customer_id', 'order_date', 'ship_date', 'region', 'city', 'payment_method', 'product_category', 'product_id', 'quantity', 'unit_price', 'total_amount', 'discount_code', 'order_status']
10 premières lignes :
     order_id customer_id  order_date   ship_date                     region  \
0  ORD000001    CUS00179  2023-03-14  2023-03-17          Casablanca-Settat
1  ORD000002    CUS01548  2023-01-13  2023-01-15       Béni Mellal-Khénifra
2  ORD000003    CUS01309  2023-08-17  2023-08-22       Béni Mellal-Khénifra
3  ORD000004    CUS00878  2023-09-06  2023-09-13                   Oriental
4  ORD000005    CUS00866  2023-10-09  2023-10-11       Béni Mellal-Khénifra
5  ORD000006    CUS01717  2023-12-12  2023-12-20             Marrakech-Safi
6  ORD000007    CUS00172  2023-07-01  2023-07-08  Tanger-Tétouan-Al Hoceïma
7  ORD000008    CUS01395  2023-10-29  2023-10-30                Souss-Massa
8  ORD000009    CUS00403  2023-09-18  2023-09-28       Dakhla-Oued Ed-Dahab
9  ORD000010    CUS00189  2023-04-11  2023-04-11       Béni Mellal-Khénifra

          city    payment_method product_category product_id  quantity  \
0   Casablanca       Credit Card      Electronics     P00778         3
1     Khénifra     Bank Transfer   Home & Kitchen     P00081         3
2  Béni Mellal     Bank Transfer   Home & Kitchen     P00215         2
3      Berkane     Bank Transfer           Sports     P00565         4
4     Khénifra       Credit Card          Fashion     P00923         1
5    Marrakech    Mobile Payment            Books     P00885         4
6      Tétouan       Credit Card   Home & Kitchen     P00935         4
7       Agadir  Cash on Delivery           Sports     P00987         1
8       Dakhla     Bank Transfer            Books     P00800         4
9     Khénifra  Cash on Delivery           Beauty     P00364         4

   unit_price  total_amount discount_code order_status
0      438.40       1315.19        SALE20     Returned
1      417.67       1253.02      FREESHIP      Shipped
2      384.54        769.09       WELCOME     Returned
3      206.38        825.51           NaN     Returned
4      426.41        426.41           NaN   Processing
5      135.49        541.95           NaN    Delivered
6      299.21       1196.82         AYD10   Processing
7      473.38        473.38     RAMADAN10   Processing
8      578.45       2313.81       WELCOME    Cancelled
9      752.41       3009.65        SALE20    Delivered
Forme du dataset (rows, columns) :
 (5000, 14)
Types de données :
 order_id             object
customer_id          object
order_date           object
ship_date            object
region               object
city                 object
payment_method       object
product_category     object
product_id           object
quantity              int64
unit_price          float64
total_amount        float64
discount_code        object
order_status         object
dtype: object
Valeurs manquantes par colonne :
 order_id              0
customer_id           0
order_date            0
ship_date             0
region                0
city                  0
payment_method        0
product_category      0
product_id            0
quantity              0
unit_price            0
total_amount          0
discount_code       830
order_status          0
dtype: int64
Colonnes avec le plus de NaN :
 discount_code    830
dtype: int64
Nombre de lignes après suppression des NaN :
 4170
Lignes dupliquées complètes :
 0
Nombre de lignes après suppression des doublons : 5000
Commandes quantity > 3 :
        order_id customer_id  order_date   ship_date  \
3     ORD000004    CUS00878  2023-09-06  2023-09-13
5     ORD000006    CUS01717  2023-12-12  2023-12-20
6     ORD000007    CUS00172  2023-07-01  2023-07-08
8     ORD000009    CUS00403  2023-09-18  2023-09-28
9     ORD000010    CUS00189  2023-04-11  2023-04-11
...         ...         ...         ...         ...
4988  ORD004989    CUS01863  2023-08-29  2023-08-29
4993  ORD004994    CUS01104  2023-03-03  2023-03-06
4996  ORD004997    CUS01493  2023-12-29  2024-01-03
4997  ORD004998    CUS01639  2023-05-09  2023-05-16
4998  ORD004999    CUS01357  2023-07-25  2023-07-30

                         region        city    payment_method  \
3                      Oriental     Berkane     Bank Transfer
5                Marrakech-Safi   Marrakech    Mobile Payment
6     Tanger-Tétouan-Al Hoceïma     Tétouan       Credit Card
8          Dakhla-Oued Ed-Dahab      Dakhla     Bank Transfer
9          Béni Mellal-Khénifra    Khénifra  Cash on Delivery
...                         ...         ...               ...
4988  Tanger-Tétouan-Al Hoceïma      Tanger    Mobile Payment
4993                 Fès-Meknès         Fès  Cash on Delivery
4996         Rabat-Salé-Kénitra     Kénitra       Credit Card
4997  Tanger-Tétouan-Al Hoceïma  Al Hoceïma     Bank Transfer
4998  Tanger-Tétouan-Al Hoceïma      Tanger       Credit Card

     product_category product_id  quantity  unit_price  total_amount  \
3              Sports     P00565         4      206.38        825.51
5               Books     P00885         4      135.49        541.95
6      Home & Kitchen     P00935         4      299.21       1196.82
8               Books     P00800         4      578.45       2313.81
9              Beauty     P00364         4      752.41       3009.65
...               ...        ...       ...         ...           ...
4988      Electronics     P00116         4      402.50       1610.00
4993           Sports     P00162         4      472.78       1891.12
4996            Books     P00987         4      508.40       2033.59
4997           Sports     P00298         4      548.73       2194.92
4998           Sports     P00456         5      453.58       2267.92

     discount_code order_status
3              NaN     Returned
5              NaN    Delivered
6            AYD10   Processing
8          WELCOME    Cancelled
9           SALE20    Delivered
...            ...          ...
4988         AYD10      Shipped
4993           NaN    Cancelled
4996           NaN    Cancelled
4997      FREESHIP     Returned
4998         AYD10    Cancelled

[2019 rows x 14 columns]
Commandes total_amount > 1000 :
        order_id customer_id  order_date   ship_date  \
0     ORD000001    CUS00179  2023-03-14  2023-03-17
1     ORD000002    CUS01548  2023-01-13  2023-01-15
6     ORD000007    CUS00172  2023-07-01  2023-07-08
8     ORD000009    CUS00403  2023-09-18  2023-09-28
9     ORD000010    CUS00189  2023-04-11  2023-04-11
...         ...         ...         ...         ...
4988  ORD004989    CUS01863  2023-08-29  2023-08-29
4993  ORD004994    CUS01104  2023-03-03  2023-03-06
4996  ORD004997    CUS01493  2023-12-29  2024-01-03
4997  ORD004998    CUS01639  2023-05-09  2023-05-16
4998  ORD004999    CUS01357  2023-07-25  2023-07-30

                         region        city    payment_method  \
0             Casablanca-Settat  Casablanca       Credit Card
1          Béni Mellal-Khénifra    Khénifra     Bank Transfer
6     Tanger-Tétouan-Al Hoceïma     Tétouan       Credit Card
8          Dakhla-Oued Ed-Dahab      Dakhla     Bank Transfer
9          Béni Mellal-Khénifra    Khénifra  Cash on Delivery
...                         ...         ...               ...
4988  Tanger-Tétouan-Al Hoceïma      Tanger    Mobile Payment
4993                 Fès-Meknès         Fès  Cash on Delivery
4996         Rabat-Salé-Kénitra     Kénitra       Credit Card
4997  Tanger-Tétouan-Al Hoceïma  Al Hoceïma     Bank Transfer
4998  Tanger-Tétouan-Al Hoceïma      Tanger       Credit Card

     product_category product_id  quantity  unit_price  total_amount  \
0         Electronics     P00778         3      438.40       1315.19
1      Home & Kitchen     P00081         3      417.67       1253.02
6      Home & Kitchen     P00935         4      299.21       1196.82
8               Books     P00800         4      578.45       2313.81
9              Beauty     P00364         4      752.41       3009.65
...               ...        ...       ...         ...           ...
4988      Electronics     P00116         4      402.50       1610.00
4993           Sports     P00162         4      472.78       1891.12
4996            Books     P00987         4      508.40       2033.59
4997           Sports     P00298         4      548.73       2194.92
4998           Sports     P00456         5      453.58       2267.92

     discount_code order_status
0           SALE20     Returned
1         FREESHIP      Shipped
6            AYD10   Processing
8          WELCOME    Cancelled
9           SALE20    Delivered
...            ...          ...
4988         AYD10      Shipped
4993           NaN    Cancelled
4996           NaN    Cancelled
4997      FREESHIP     Returned
4998         AYD10    Cancelled

[2695 rows x 14 columns]
Commandes Casablanca-Settat :
        order_id customer_id  order_date   ship_date             region  \
0     ORD000001    CUS00179  2023-03-14  2023-03-17  Casablanca-Settat
18    ORD000019    CUS01679  2023-10-12  2023-10-20  Casablanca-Settat
25    ORD000026    CUS01288  2023-02-13  2023-02-15  Casablanca-Settat
32    ORD000033    CUS00185  2023-05-12  2023-05-21  Casablanca-Settat
39    ORD000040    CUS01263  2023-03-20  2023-03-24  Casablanca-Settat
...         ...         ...         ...         ...                ...
4931  ORD004932    CUS01468  2023-01-04  2023-01-04  Casablanca-Settat
4932  ORD004933    CUS01798  2023-01-05  2023-01-12  Casablanca-Settat
4956  ORD004957    CUS00322  2023-10-07  2023-10-10  Casablanca-Settat
4963  ORD004964    CUS00470  2023-03-23  2023-04-02  Casablanca-Settat
4992  ORD004993    CUS01982  2023-11-30  2023-12-10  Casablanca-Settat

            city    payment_method product_category product_id  quantity  \
0     Casablanca       Credit Card      Electronics     P00778         3
18        Settat    Mobile Payment          Fashion     P00215         2
25    Casablanca     Bank Transfer      Electronics     P00227         2
32    Mohammedia       Credit Card            Books     P00640         2
39     El Jadida    Mobile Payment           Sports     P00696         3
...          ...               ...              ...        ...       ...
4931      Settat     Bank Transfer            Books     P00142         5
4932  Casablanca    Mobile Payment      Electronics     P00840         5
4956  Casablanca    Mobile Payment      Electronics     P00126         3
4963   El Jadida       Credit Card      Electronics     P00107         3
4992  Casablanca  Cash on Delivery   Home & Kitchen     P00107         1

      unit_price  total_amount discount_code order_status
0         438.40       1315.19        SALE20     Returned
18        537.96       1075.91      FREESHIP      Shipped
25        548.79       1097.59           NaN   Processing
32        449.73        899.46           NaN      Shipped
39        552.81       1658.44      FREESHIP   Processing
...          ...           ...           ...          ...
4931      407.96       2039.81     RAMADAN10     Returned
4932      598.59       2992.93         AYD10   Processing
4956      302.05        906.14        SALE20     Returned
4963      470.57       1411.72      FREESHIP   Processing
4992      387.31        387.31        SALE20    Delivered

[457 rows x 14 columns]
Commandes non payées en Cash :
        order_id customer_id  order_date   ship_date  \
0     ORD000001    CUS00179  2023-03-14  2023-03-17
1     ORD000002    CUS01548  2023-01-13  2023-01-15
2     ORD000003    CUS01309  2023-08-17  2023-08-22
3     ORD000004    CUS00878  2023-09-06  2023-09-13
4     ORD000005    CUS00866  2023-10-09  2023-10-11
...         ...         ...         ...         ...
4995  ORD004996    CUS00424  2023-06-21  2023-06-26
4996  ORD004997    CUS01493  2023-12-29  2024-01-03
4997  ORD004998    CUS01639  2023-05-09  2023-05-16
4998  ORD004999    CUS01357  2023-07-25  2023-07-30
4999  ORD005000    CUS00997  2023-08-12  2023-08-12

                         region         city payment_method product_category  \
0             Casablanca-Settat   Casablanca    Credit Card      Electronics
1          Béni Mellal-Khénifra     Khénifra  Bank Transfer   Home & Kitchen
2          Béni Mellal-Khénifra  Béni Mellal  Bank Transfer   Home & Kitchen
3                      Oriental      Berkane  Bank Transfer           Sports
4          Béni Mellal-Khénifra     Khénifra    Credit Card          Fashion
...                         ...          ...            ...              ...
4995         Rabat-Salé-Kénitra         Salé  Bank Transfer           Beauty
4996         Rabat-Salé-Kénitra      Kénitra    Credit Card            Books
4997  Tanger-Tétouan-Al Hoceïma   Al Hoceïma  Bank Transfer           Sports
4998  Tanger-Tétouan-Al Hoceïma       Tanger    Credit Card           Sports
4999                Souss-Massa       Tiznit    Credit Card            Books

     product_id  quantity  unit_price  total_amount discount_code order_status
0        P00778         3      438.40       1315.19        SALE20     Returned
1        P00081         3      417.67       1253.02      FREESHIP      Shipped
2        P00215         2      384.54        769.09       WELCOME     Returned
3        P00565         4      206.38        825.51           NaN     Returned
4        P00923         1      426.41        426.41           NaN   Processing
...         ...       ...         ...           ...           ...          ...
4995     P00917         3      280.20        840.60      FREESHIP    Delivered
4996     P00987         4      508.40       2033.59           NaN    Cancelled
4997     P00298         4      548.73       2194.92      FREESHIP     Returned
4998     P00456         5      453.58       2267.92         AYD10    Cancelled
4999     P00301         1      441.38        441.38     RAMADAN10    Delivered

[5000 rows x 14 columns]
Stats total_amount :
 mean      1206.237804
median    1074.525000
min         20.000000
max       4761.880000
Name: total_amount, dtype: float64
Région avec le plus haut total_amount moyen :
 region
Souss-Massa    1255.172281
Name: total_amount, dtype: float64
Produit avec le plus haut total revenue :
 product_id
P00024    18462.47
Name: total_amount, dtype: float64
Commandes après 2023-06-01 :
        order_id customer_id order_date  ship_date                     region  \
2     ORD000003    CUS01309 2023-08-17 2023-08-22       Béni Mellal-Khénifra
3     ORD000004    CUS00878 2023-09-06 2023-09-13                   Oriental
4     ORD000005    CUS00866 2023-10-09 2023-10-11       Béni Mellal-Khénifra
5     ORD000006    CUS01717 2023-12-12 2023-12-20             Marrakech-Safi
6     ORD000007    CUS00172 2023-07-01 2023-07-08  Tanger-Tétouan-Al Hoceïma
...         ...         ...        ...        ...                        ...
4994  ORD004995    CUS01285 2023-12-16 2023-12-23                   Oriental
4995  ORD004996    CUS00424 2023-06-21 2023-06-26         Rabat-Salé-Kénitra
4996  ORD004997    CUS01493 2023-12-29 2024-01-03         Rabat-Salé-Kénitra
4998  ORD004999    CUS01357 2023-07-25 2023-07-30  Tanger-Tétouan-Al Hoceïma
4999  ORD005000    CUS00997 2023-08-12 2023-08-12                Souss-Massa

             city    payment_method product_category product_id  quantity  \
2     Béni Mellal     Bank Transfer   Home & Kitchen     P00215         2
3         Berkane     Bank Transfer           Sports     P00565         4
4        Khénifra       Credit Card          Fashion     P00923         1
5       Marrakech    Mobile Payment            Books     P00885         4
6         Tétouan       Credit Card   Home & Kitchen     P00935         4
...           ...               ...              ...        ...       ...
4994        Nador  Cash on Delivery   Home & Kitchen     P00040         2
4995         Salé     Bank Transfer           Beauty     P00917         3
4996      Kénitra       Credit Card            Books     P00987         4
4998       Tanger       Credit Card           Sports     P00456         5
4999       Tiznit       Credit Card            Books     P00301         1

      unit_price  total_amount discount_code order_status  year  month  \
2         384.54        769.09       WELCOME     Returned  2023      8
3         206.38        825.51           NaN     Returned  2023      9
4         426.41        426.41           NaN   Processing  2023     10
5         135.49        541.95           NaN    Delivered  2023     12
6         299.21       1196.82         AYD10   Processing  2023      7
...          ...           ...           ...          ...   ...    ...
4994      128.84        257.68       WELCOME    Cancelled  2023     12
4995      280.20        840.60      FREESHIP    Delivered  2023      6
4996      508.40       2033.59           NaN    Cancelled  2023     12
4998      453.58       2267.92         AYD10    Cancelled  2023      7
4999      441.38        441.38     RAMADAN10    Delivered  2023      8

        weekday
2      Thursday
3     Wednesday
4        Monday
5       Tuesday
6      Saturday
...         ...
4994   Saturday
4995  Wednesday
4996     Friday
4998    Tuesday
4999   Saturday

[2905 rows x 17 columns]
Moyenne mensuelle du total_amount :
 order_date
2023-01-31    1212.416080
2023-02-28    1213.240602
2023-03-31    1259.780816
2023-04-30    1208.815498
2023-05-31    1223.786385
2023-06-30    1207.026161
2023-07-31    1212.837800
2023-08-31    1201.412429
2023-09-30    1193.760461
2023-10-31    1179.203462
2023-11-30    1132.137600
2023-12-31    1226.761170
Freq: ME, Name: total_amount, dtype: float64
Outliers détectés par IQR :
              order_id customer_id  ship_date                     region  \
order_date
2023-07-11  ORD000067    CUS01811 2023-07-19                   Oriental
2023-04-24  ORD000227    CUS01617 2023-04-27  Tanger-Tétouan-Al Hoceïma
2023-01-22  ORD000257    CUS01355 2023-01-30       Dakhla-Oued Ed-Dahab
2023-01-26  ORD000336    CUS01616 2023-02-03  Tanger-Tétouan-Al Hoceïma
2023-06-17  ORD000472    CUS01608 2023-06-23  Tanger-Tétouan-Al Hoceïma
2023-04-25  ORD000569    CUS01285 2023-05-05                 Fès-Meknès
2023-03-28  ORD000573    CUS00565 2023-03-29                Souss-Massa
2023-07-30  ORD000592    CUS01805 2023-08-05                   Oriental
2023-03-08  ORD000618    CUS00533 2023-03-10       Dakhla-Oued Ed-Dahab
2023-09-10  ORD000626    CUS00465 2023-09-13                   Oriental
2023-03-18  ORD000690    CUS01565 2023-03-21         Rabat-Salé-Kénitra
2023-07-15  ORD000759    CUS00256 2023-07-21       Béni Mellal-Khénifra
2023-05-01  ORD000831    CUS00492 2023-05-04          Guelmim-Oued Noun
2023-04-26  ORD001172    CUS01262 2023-05-06          Guelmim-Oued Noun
2023-12-13  ORD001202    CUS00955 2023-12-18             Marrakech-Safi
2023-09-06  ORD001251    CUS00484 2023-09-15          Casablanca-Settat
2023-01-05  ORD001436    CUS00204 2023-01-15       Béni Mellal-Khénifra
2023-07-25  ORD001518    CUS00098 2023-07-27          Guelmim-Oued Noun
2023-03-29  ORD001785    CUS01454 2023-04-01  Tanger-Tétouan-Al Hoceïma
2023-03-31  ORD001789    CUS00946 2023-04-05                Souss-Massa
2023-04-02  ORD001816    CUS00222 2023-04-08                   Oriental
2023-01-01  ORD001906    CUS00490 2023-01-06         Rabat-Salé-Kénitra
2023-10-04  ORD002805    CUS00345 2023-10-05             Marrakech-Safi
2023-06-14  ORD003036    CUS01912 2023-06-21  Tanger-Tétouan-Al Hoceïma
2023-12-11  ORD003052    CUS00351 2023-12-21       Béni Mellal-Khénifra
2023-05-18  ORD003078    CUS01630 2023-05-23  Tanger-Tétouan-Al Hoceïma
2023-12-17  ORD003237    CUS00727 2023-12-27       Dakhla-Oued Ed-Dahab
2023-09-09  ORD003296    CUS01592 2023-09-09                Souss-Massa
2023-02-16  ORD003351    CUS00318 2023-02-16       Dakhla-Oued Ed-Dahab
2023-10-21  ORD003475    CUS00596 2023-10-31             Marrakech-Safi
2023-01-06  ORD003619    CUS00870 2023-01-15       Dakhla-Oued Ed-Dahab
2023-12-09  ORD003664    CUS01924 2023-12-15          Casablanca-Settat